@model Customer
<br />
<h2 class="text-info">Create New Customer</h2>
<br />

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="whiteBackground border">
        <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
        <div class="form-group row">
            <div class="col-2 ">
                <label asp-for="Name" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Name" class="form-control" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2 ">
                <label asp-for="Mobile" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Mobile" class="form-control" />
                <span class="text-danger" asp-validation-for="Mobile"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2 ">
                <label asp-for="Address" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Address" class="form-control" />
                <span class="text-danger" asp-validation-for="Address"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2 ">
                <label asp-for="Picture" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input type="file" multiple asp-for="Picture" class="form-control" />
            </div>
        </div>




        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_CreateAndBackToListButtonsPartial" />
            </div>

        </div>
    </div>
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}




